*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #D5FFE4;
    color: #6F61C0;
}

div.heading{
    margin: 50px 0;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;  
}

div.turn-display{
    margin: 50px 0;
    text-align: center;
    font-size: 1.3rem;
}


div.game-grid{
    display: grid;
    margin:  auto;
    width: min-content;
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: repeat(3, 90px);
    gap: 20px;
    /* border: 1px solid black; */
}



.game-grid > div{
    /* border: 1px solid black; */
    /* margin:30px; */
    background-color: #8BE8E5;
    border-radius: 10px;
    text-align: center;
    padding-top: 15px ;
    font-size: 3rem;
}


.game-grid > div.highlight{
    background-color: #A084E8;
}


div.cong{
    text-align: center;
    margin: 50px;
    font-size: 1.2rem;
    color: #6F61C0;
    font-weight: 700;
}



button.reset{
    display: block;
    margin: 50px auto;
    font-size: 1.2rem;
    padding: 5px 25px;
    border: 1px solid #6F61C0;
    color : #6F61C0;
    background-color: #D5FFE4;
    border-radius: 5px;
    font-family: 700;
}

button.reset:hover{
    background-color: #6F61C0;
    color: #D5FFE4;
}


